.com {
  &-brandItemNotMine {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 100%;
    max-width: 900px;
    min-width: 580px;
    flex: 1;
    line-height: 200px;
    text-align: center;
    background-color: white;
    border-radius: 16px;
    color: white;
    background-color: #333;
    &-windows,
    &-mac {
      max-width: 580px;
    }
    &:nth-child(2n) {
    }
    &-top {
      width: 100%;
      height: 230px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
    &-top2 {
      height: 180px;
      align-items: center;
    }
  }
}
