.com {
  &-productinfo {
    &-logo {
      position: relative;
      width: 120px;
      height: 120px;
      border: 1px solid #e9ecf0;
      background-color: #F2F2F2;
    }

    &-middle {
      display: flex;
      justify-content: space-between;
      flex: 1;
      padding: 0px 20px;
      padding-right: 0;
      padding-bottom: 10px;
      &-desc {
        color: #6c7d95;
        font-size: 24px;
      }
      Text {
        display: block;
        line-height: 1.4;
      }
      &-content {
        &-price {
          color: #F05858;
        }
      }
      &-right {
      }
      &-title {
        overflow: hidden;
        box-sizing: border-box;
        display: -webkit-box !important;
        word-break: break-all;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;  
      }
    }
  }
}
